streamlit
rich
markdown-it-py
mdurl
pygments
pandas
numpy
pyodbc
oracledb
requests
plotly
altair
click
packaging
pillow
protobuf
python-dateutil
cachetools
pyarrow
blinker
importlib-metadata








